# File Managed by Puppet

<VirtualHost _default_:<%= @port %>>
    ServerAdmin <%= @server_admin_email %>
    DocumentRoot <%= @real_docroot %>
<% if @server_name_value != false -%>
    ServerName <%= @server_name_value %>
<% end -%>
<% if @serveraliases != "" -%>
<% if @serveraliases.is_a? Array -%>
    ServerAlias <%= @serveraliases.flatten.join(" ") %>
<% else -%>
    ServerAlias <%= @serveraliases %>
<% end -%>
<% end -%>
<% if @env_variables != "" -%>
<% if @env_variables.is_a? Array -%>
<% @env_variables.each do |envvars| -%>
    SetEnv <%= envvars %>
<% end -%>
<% end -%>
<% end -%>

    ErrorLog  <%= scope.lookupvar('apache::log_dir') %>/<%= @name %>-error_log
    CustomLog <%= scope.lookupvar('apache::log_dir') %>/<%= @name %>-access_log combined
    
    Alias /phpinfo /home/vagrant/scripts/phpinfo.php

    Redirect permanent /terminal http://webdev.box:3000
    #Redirect permanent /mailcatcher http://webdev.box:1080
    #Redirect permanent /filebrowser http://webdev.box:8001/fs/var/www

    <Directory /home/vagrant/scripts>
            Require all granted
            #RequestHeader append ZRAY-DISABLE 1
    </Directory>

<% if @directory_options != "" || @directory_allow_override != "None" -%>
    <Directory <%= @real_directory %>>
        <% if @directory_options != "" -%>
        Options <%= @directory_options %>
        <% end -%>
        <% if @directory_allow_override != "None" -%>
        AllowOverride <%= @directory_allow_override %>
        <% end -%>
    </Directory>
<% end -%>
</VirtualHost>

<IfModule mod_ssl.c>
    <VirtualHost *:443>
        ServerAdmin <%= @server_admin_email %>
        DocumentRoot <%= @real_docroot %>
    <% if @server_name_value != false -%>
        ServerName <%= @server_name_value %>
    <% end -%>
    <% if @serveraliases != "" -%>
    <% if @serveraliases.is_a? Array -%>
        ServerAlias <%= @serveraliases.flatten.join(" ") %>
    <% else -%>
        ServerAlias <%= @serveraliases %>
    <% end -%>
    <% end -%>
    <% if @env_variables != "" -%>
    <% if @env_variables.is_a? Array -%>
    <% @env_variables.each do |envvars| -%>
        SetEnv <%= envvars %>
    <% end -%>
    <% end -%>
    <% end -%>

        SSLEngine on
        SSLCertificateFile <%= scope.lookupvar('apache::config_dir') %>/ssl/server.crt
        SSLCertificateKeyFile <%= scope.lookupvar('apache::config_dir') %>/ssl/server.key

        ErrorLog  <%= scope.lookupvar('apache::log_dir') %>/<%= @name %>-error_log
        CustomLog <%= scope.lookupvar('apache::log_dir') %>/<%= @name %>-access_log common

        Alias /phpinfo /home/vagrant/scripts/phpinfo.php

        <Directory /home/vagrant/scripts>
                Require all granted
                RequestHeader append ZRAY-DISABLE 1
        </Directory>

    <% if @directory_options != "" || @directory_allow_override != "None" -%>
        <Directory <%= @real_directory %>>
            <% if @directory_options != "" -%>
            Options <%= @directory_options %>
            <% end -%>
            <% if @directory_allow_override != "None" -%>
            AllowOverride <%= @directory_allow_override %>
            <% end -%>
        </Directory>
    <% end -%>
    </VirtualHost>
</IfModule>