FastCGIExternalServer <%= @faux_path %> -idle-timeout <%= @timeout %> <%= if @flush then '-flush' end %> -socket <%= @socket %>
Alias <%= @fcgi_alias %> <%= @faux_path %>
Action <%= @file_type %> <%= @fcgi_alias %>
