/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar {
	height: 100px;
}

.navbar-brand  {
  height: 100px;
  padding: 10px 15px;
}

.navbar-brand img.logo {  
  margin-right: 10px;
  margin-top: -4px;
}

/*
 * Sidebar
 */

.sidebar , .main {
  margin-top: 30px;
}
 
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.navbar-inverse .navbar-toggle .icon-bar, .navbar-inverse .navbar-toggle.collapsed .icon-bar {
  background-color: #333 !important;
}


.navbar-inverse .navbar-toggle:hover .icon-bar, .navbar-inverse .navbar-toggle.collapsed:hover .icon-bar{
  background-color: #fff !important;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Dashboard main table
 */
.table-dashboard tbody td {
    vertical-align: middle !important;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


.dropdown-menu li.delete a{
  color: #a94442;
}
.dropdown-menu li.delete a:hover{
  background-color: #ebcccc;
}
